.CategoryPill {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    height: 26px;
    line-height: 26px;
    margin-right: 10px;
    display: inline-block;
    border-radius: 100px;
}

.CategoryPill-all {
    color: #21344C;
    border: solid 2px #21344C;
}

.CategoryPill-specific {
    color: #FFFFFF;
    text-shadow: 0px 1px #2E3338;
}

.CategoryPill-Frontend {
    background-color: #BDC500;
}

.CategoryPill-Devops {
    background-color: #00C3A1;
}

.CategoryPill-Soft {
    background-color: #00A5CC;
}
